"""Script for simple GPAW calculation on dask worker."""
import pickle

try:
    from ase.calculators.singlepoint import SinglePointCalculator
    from gpaw import GPAW, PW

    from clinamen2.runner.basic_runner import WorkerResult


    atoms = pickle.load(open("input", "rb"))

    atoms.calc = GPAW(
    {%- for key, value in gpaw_params.items() %}
        {{key}}={{value}}, 
    {%- endfor %}
    )

    atoms.calc = SinglePointCalculator(
        atoms, energy=atoms.get_potential_energy(), forces=atoms.get_forces()
    )

    with open("result", "wb") as savefile:
        pickle.dump(
            WorkerResult(
                loss=atoms.get_potential_energy(),
                information={"atoms": atoms},
            ),
            savefile,
        )
except Exception as e:
    with open("result", "wb") as savefile:
        pickle.dump(e, savefile)
