"""Script for simple VASP calculation on dask worker."""
import pickle

try:
    from ase.calculators.vasp import Vasp

    from clinamen2.runner.basic_runner import WorkerResult

    atoms = pickle.load(open("input", "rb"))

    atoms.calc = Vasp(
    {%- for key, value in vasp_params.items() %}
        {{key}}={{value}},
    {%- endfor %}
    )

    energy = atoms.get_potential_energy()
    forces = atoms.get_forces()

    # VASP exits normally even if self-consistency was not achieved.
    # So we manually raise an error in case of non-convergence, in order to
    # signal back to the driver code that this is a failed individual that
    # needs to be resampled.
    if not atoms.calc.converged:
        raise RuntimeError(
            f"Electronic self-consistency not achieved "
            f"after {atoms.calc.int_params['nelm']} iterations"
        )

    with open("result", "wb") as savefile:
        pickle.dump(
            WorkerResult(
                loss=atoms.get_potential_energy(),
                information={"atoms": atoms},
            ),
            savefile,
        )
except Exception as e:
    with open("result", "wb") as savefile:
        pickle.dump(e, savefile)
