#
# A box with lj spheres 
#

tolerance {{tolerance}}
filetype xyz 
output {{output_file}}
seed {{random_seed}}

structure {{structure_file}}
  number {{n_atoms}}
  inside box 0. 0. 0. {{side_length}} {{side_length}} {{side_length}}
end structure
